.mainBox{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.boxBall{
    width: 200px;
    aspect-ratio: 1 / 1;
    position: absolute;
    border-radius: 100px;
    overflow: hidden;
    z-index: 2;

}

.boxBallLine{
    width: 210px;
    aspect-ratio: 1 / 1;
    /* animation: rotation 3s infinite linear; */
    position: absolute;

    border-top: 3px solid;

    
    /* border-image: linear-gradient(to right, rgb(0, 0, 0), rgb(4, 0, 255)) 1; */


    /* background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgb(0, 30, 255) 0%, rgba(0,0,0,0.8407738095238095) 36%); */
    background-image: url("../../public/images/bgLoading.jpg");

    border-radius: 120px;

    /* background-image: 
    linear-gradient(to right, rgb(0, 0, 0), rgb(4, 0, 255));
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-width: 0px;
    border: 0 0 0 0;  */

    overflow: hidden;
}



@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }